{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
	<link rel="home" href="{{ siteUrl }}" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <script src="//use.typekit.net/wer3vxs.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
    <link rel="stylesheet" href="/assets/css/app.css">
    {% block extracss %}

    {% endblock %}
      <script src="/assets/js/min/modernizr-min.js"></script>
	</head>
</head>

<body {% if craft.request.firstSegment == '' %}class="body"{% endif %}
>
<!--Header-->
<nav class="mobileNav">
  <div class="mobileNav_menu">
    <div class="icon-menu"></div>
    </div>

   <ul class="navList">
       <li><a href="/what" title="About the Anchor">What</a></li>
       <li><a href="/meet" title="Meet The Anchor">Meet</a></li>
        <li><a href="/see" title="Videos, Events &amp; Photos of The Anchor">See</a></li>
        <li><a href="/connect" title="Connect and contact The Anchor">Connect</a></li>
    </ul>
</nav>

<div class="header">
    <nav class="nav" role="navigation">
        <ul>
            <li><a href="/what" title="About the Anchor">What</a></li>
            <li><a href="/meet" title="Meet The Anchor">Meet</a></li>
            <li class="logo">
                <a href="/" title="The Anchor"><img src="/assets/img/the-anchor-logo.svg" alt="The Anchor" width="80" height="80"></a>

                <h1>The Anchor</h1>
            </li>
            <li><a href="/see" title="Videos, Events &amp; Photos of The Anchor">See</a></li>
            <li><a href="/connect" title="Connect and contact The Anchor">Connect</a></li>
        </ul>
    </nav>
</div>
<!--Header ends-->

	{% block content %}
	{% endblock %}

<script>
    Modernizr.load([
        {
            load: '//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js',
            nope: '/assets/js/jquery.min.js',
        }, {
            load: '/assets/js/min/TweenMax.min.js'
        }, {
            test: document.getElementsByClassName('teaser').length > 0,
            yep: '/assets/js/min/jquery.lettering-min.js'
        }, {
            test: document.getElementsByClassName('see').length > 0,
            yep: ['/assets/js/lightGallery/src/js/lightGallery.min.js', '/assets/js/min/jquery.unveil-min.js']
        }, {
            load: '/assets/js/min/app-min.js'
        }
    ]);
</script>
</body>
</html>
