{% extends "_layout" %}

{% set title = 'The Anchor - fresh, personable, captivating' %}

{% block content %}
<div class="container what">
    <div class="row">
       <div class="col s-11-12 m-6-12 m-offset-5 end mt-pad">
              <h2>
           The Anchor is a master of the stage - fresh, personable and captivating.
       </h2>

       <p>&nbsp;</p>

        <p>The Anchor brings personal and corporate events to life with an infusion of class, wit and good old humour. Irrespective of the spot on the globe, The Anchor will deliver with all the seriousness your event deserves.</p>

        <p>A proven consummate professional with a knack for events delivered with crisp attention to detail, The Anchor can cope with any attendant eventualities and fire-brazing curveballs thrown at any event/show.</p>

        <p>From his correspondence, through initial meetings and consultations, superb D-day hosting to even wishing your guests/audience a safe trip home, The Anchor has one clear goal - make your event genuinely warm and unforgettable </p>

        <p>The Anchor is always hands-on and has genuine willingness to learn about the goals and key stakeholders in your event, be it intimate/casual, corporate or show for the silver screen. He'll keep you on schedule, instinctively filling any holes or loops in your programme (Yes that happens a lot) and help your guests focus on the one reason why they are there.</p>

        <p>
          The Anchor is versatile and transits seamlessly across genres while upholding and preserving the quality of your event.
        </p>

        <h4>
            The Anchor is your guy, and he only cares about one thing - an awesome experience for your guests at your event.
        </h4>

       </div>
</div>
 <div class="what_bg">&nbsp;</div>
{% endblock %}
